<h1>Listing cabinet_items</h1>

<table>
  <tr>
    <th>Ingredient</th>
    <th>Cabinet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabinet_items.each do |cabinet_item| %>
  <tr>
    <td><%= cabinet_item.ingredient_id %></td>
    <td><%= cabinet_item.cabinet_id %></td>
    <td><%= link_to 'Show', cabinet_item %></td>
    <td><%= link_to 'Edit', edit_cabinet_item_path(cabinet_item) %></td>
    <td><%= link_to 'Destroy', cabinet_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cabinet item', new_cabinet_item_path %>
