<!DOCTYPE html>
<html>
<head>
  <title>DrinkMixer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<!-- this is the place where I put the header info -->
		<h1>Make Me a Drink!</h2>
	</div>

	<div id="side_bar">
	<% if current_user %>
		<h2>Greeting today <%= current_user.username %></h2>
		<br />
		<%= link_to 'Users' , users_path %><br />
		<br />
		<%= link_to 'My Cabinet' , cabinet_path(current_user.cabinet) %><br />
		<%= button_to 'Logout' , logout_url, :method => :delete %>
	<% else %>
		<br />
		<%= button_to 'Log In' , login_url, :method => :get %><br />
		<br />
		<%= button_to 'Register' , new_user_path, :method => :get %><br />
	<% end %>
	</div>

	<div id="content">
		<% if notice %>
    		<p id="notice"><%= notice %></p>
  		<% end %>
		<%= yield %>
	</div>
	<div id="joke">
		<h3>The joke of the day: </h3>
		<%= random_joke.body %>
	</div>
</body>
</html>
